/*Set body style*/
body {
    background-color: #FFFFCC; /* Hex code for pale yellow */
    color: hotpink;
    text-align: justify; /* Keep outer edges of text neat and consistent */
    font-size: 20px;
    font-family: cursive; /* Set default font style for body */
  }
  
  header {
    text-align: center;
    font-size: 60px; /* Ensure main title is significantly larger than remainder of text */
    font-family: 'Nerko One', cursive; /* Use imported Goggle font for header, with a default style included in case browser does not support it */
    color: rgb(139,0,139); /* rgb code for a shade of purple, can't remember which one! */
  }
  
  /* Ensure paragraph elements are consistently spaced out */
  p {
    padding: 20px, 5px, 20px, 5px;
    margin: 20px 10px 20px 10px;
  }
  
  /*Create a picture class that allows for easy adjustment of picture sizes*/
  .picture {
      width: 30%;
  }
  
  /* Create a media query that adjusts the width of the image based on the size of the screen reader N.B.  Have not had time to apply this to the entire header yet but this is something I would like to do eventually*/
  @media screen and (max-width: 768px) {
      .picture {
          width: 70%;	
      }
  }
  
  /* Create alignment class that places text and images in the centre of the screen */
  .center-align {
    text-align: center !important;
    image-align: center;
  }
  
  /*Create style for footer so that it is smaller than the rest of the web page*/
  footer {
    font-size: 14px;
    margin: 20px 20px 20px 20px
  }